---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, ...rest }: Props = Astro.props

const isInternalLink = !href?.toString().startsWith('http')
const isAnchorLink = href?.toString().startsWith('#')
---

{
  isInternalLink || isAnchorLink ? (
    <a href={href} {...rest}>
      <slot />
    </a>
  ) : (
    <a target="_blank" rel="noopener noreferrer" href={href} {...rest}>
      <slot />
    </a>
  )
}
