---
import { SITE_METADATA } from '../consts.ts'

const descriptions: string[] = SITE_METADATA.description.split('\n')
---

<div id="container">
  <main>
    <section id="author">
      {SITE_METADATA.author}
    </section>
    <section id="description">
      {
        descriptions.map((line: string, index: number) => (
          <Fragment key={index}>
            {line}
            {index < descriptions.length - 1 && <br />}
          </Fragment>
        ))
      }
    </section>
  </main>
</div>

<style></style>
