---
import type { CollectionEntry } from 'astro:content'
import Layout from './Layout.astro'

interface Props {
  content: CollectionEntry<'resumes'>['data']
}

const { content } = Astro.props
const { name, shortBio } = content
---

<Layout title={`${name}の履歴書`} description={shortBio}>
  <div
    class="text-md prose max-w-none text-gray-500 dark:prose-invert prose-headings:text-gray-600 prose-h3:text-lg sm:prose-h3:text-xl"
  >
    <slot />
  </div>
</Layout>

<style>
  .markdown-body.date {
    text-align: right;
  }
</style>
