---
import type { CollectionEntry } from 'astro:content'

import ContentSection from '@/components/author/ContentSection.astro'
import TitleSection from '@/components/author/TitleSection.astro'
import Layout from './Layout.astro'

interface Props {
  content: CollectionEntry<'resumes'>['data']
}

const { name, shortBio } = Astro.props.content
---

<Layout title={name} description={shortBio}>
  <div class="divide-y divide-gray-200 dark:divide-gray-700">
    <TitleSection title="Resume" />

    <div class="flex flex-col xl:flex-row xl:gap-x-8">
      <ContentSection>
        <slot />
      </ContentSection>
    </div>
  </div>
</Layout>
